<section class="section-wrap-mp pb-60">
    <div class="container">

        <div class="row heading">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <h2 class="text-center bottom-line">Recent Work</h2>
                <p class="subheading text-center">An selection from my portfolio</p>
            </div>
        </div>

        <div class="row">

            <div class="works-grid titles">

                <div class="col-md-4 col-xs-6 work-item web-design mockups">
                    <div class="work-container">
                        <div class="work-img">
                            <img src="img/portfolio/doughtogo/doughtogo.png" alt="">
                            <div class="portfolio-overlay">
                            </div>
                        </div>
                        <div class="work-description">
                            <h3>
                                <a href="http://doughtogo.co.uk" target="_blank">doughtogo</a>
                            </h3>
                            <span>
                                <a href="#">Modern Website</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end work-item -->

                <!-- end work-item -->

                <div class="col-md-4 col-xs-6 work-item web-design">
                    <div class="work-container">
                        <div class="work-img">
                            <img src="img/portfolio/mof/mof.jpg" alt="">
                            <div class="portfolio-overlay">
                            </div>
                        </div>
                        <div class="work-description">
                            <h3>
                                <a href="https://www.ministryoffurniture.com/">Ministry of Furniture</a>
                            </h3>
                            <span>
                                <a href="#">Ecommerce & CMS</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end work-item -->

                <div class="col-md-4 col-xs-6 work-item print mockups">
                    <div class="work-container">
                        <div class="work-img">
                            <img src="/img/portfolio/pocket-amigo/balances.png" alt="">
                            <div class="portfolio-overlay">
                            </div>
                        </div>
                        <div class="work-description">
                            <h3>
                                <a href="#">Pocket Amigo</a>
                            </h3>
                            <span>
                                <a href="#">Cryptocurrency Tracking Platform</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end work-item -->

                <div class="col-md-4 col-xs-6 work-item mockups branding">
                    <div class="work-container">
                        <div class="work-img">
                            <img src="/img/portfolio/locsci/1.png" alt="">
                            <div class="portfolio-overlay">
                            </div>
                        </div>
                        <div class="work-description">
                            <h3>
                                <a href="#">Location Sciences</a>
                            </h3>
                            <span>
                                <a href="#">Location Accuracy & Audience Authentication </a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end work-item -->

                <div class="col-md-4 col-xs-6 work-item web-design branding">
                    <div class="work-container">
                        <div class="work-img">
                            <img src="img/portfolio/mws/thumb.png" alt="">
                            <div class="portfolio-overlay">
                            </div>
                        </div>
                        <div class="work-description">
                            <h3>
                                <a href="#">Mrs Wordsmith</a>
                            </h3>
                            <span>
                                <a href="#">CMS, ML, Website & Chrome Extensions</a>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end work-item -->
                
                <div class="col-md-4 col-xs-6 work-item software">
                    <div class="work-container">
                        <div class="work-img">
                            <img src="img/portfolio/know-thy-code/thumb.png" alt="">
                            <div class="portfolio-overlay"></div>
                        </div>
                        <div class="work-description">
                            <h3>
                                <a href="#">Know Thy Code</a>
                            </h3>
                            <span>
                                <a href="#">Programming Blog</a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>