<section class="section-wrap-mp promo-section bg-dark">

    <div id="owl-promo" class="owl-carousel owl-theme">

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                        <img src="img/portfolio/sprite-coin/1.jpg" alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <p class="subheading">NodeJS Fun Project</p>
                        <h3 class="color-white">Blockchain Technology</h3>
                        <p class="mb-30">Learning how blockchain technology and cryptocurrency works under the hood, I started a project to see how it works, and how to build it in NodeJS from the ground up.</p>
                        <a target="_blank" href="https://github.com/megmut/crypto-project" class="btn btn-lg btn-color">View In Github</a>
                        <div class="customNavigation mt-40">
                            <a class="prev">
                                <i class="icon arrow_left"></i>
                            </a>
                            <a class="next">
                                <i class="icon arrow_right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s">
                        <img src="img/connect4/promo.png" alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <p class="subheading">HTML5 Game</p>
                        <h3 class="color-white">Connect 4</h3>
                        <p class="mb-30"> We want to tell your brand’s story with quality content that will help you inspire your audience,
                            build meaningful connections and grow your success. Different marketing goals mean different
                            content tools.</p>
                        <a href="#" class="btn btn-lg btn-color">Play Now</a>
                        <div class="customNavigation mt-40">
                            <a class="prev">
                                <i class="icon arrow_left"></i>
                            </a>
                            <a class="next">
                                <i class="icon arrow_right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s">
                        <img src="img/squares/promo.png" alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <p class="subheading">HTML5 Game</p>
                        <h3 class="color-white">Squares</h3>
                        <p class="mb-30"> We want to tell your brand’s story with quality content that will help you inspire your audience,
                            build meaningful connections and grow your success. Different marketing goals mean different
                            content tools.</p>
                        <a href="#" class="btn btn-lg btn-color">Play Now</a>
                        <div class="customNavigation mt-40">
                            <a class="prev">
                                <i class="icon arrow_left"></i>
                            </a>
                            <a class="next">
                                <i class="icon arrow_right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- end slider -->
</section>