<section class="section-wrap-mp promo-section bg-dark">

    <div class="row heading">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <h2 class="text-center" style="color: white;">Recent Blog Posts</h2>
        </div>
    </div>

    <div id="owl-promo" class="owl-carousel owl-theme">

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                        <img class="post-thumb" src="https://know-thy-code.com/wp-content/uploads/2019/01/mongoose-typescript-integration-780x405.jpg"
                            alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <h3 class="color-white">Mongoose Models and Schemas with Typescript</h3>
                        <p class="mb-30">Having recently migrated a legacy project from MySQL to MongoDB, I’ve had to
                            fight a fair bit getting models and schemas to work with existing controllers etc. One of
                            the first decisions was to use Mongoose as an easier way to model objects stored in the
                            database.</p>
                        <a target="_blank" href="https://know-thy-code.com/mongoose-schemas-models-typescript/" class="btn btn-lg btn-color">View</a>
                        <div class="customNavigation mt-40">
                            <a class="prev">
                                <i class="icon arrow_left"></i>
                            </a>
                            <a class="next">
                                <i class="icon arrow_right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                        <img class="post-thumb" src="https://know-thy-code.com/wp-content/uploads/2018/12/padlock-bcrypt-nodejs-background-780x405.jpg"
                            alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <h3 class="color-white">Using Bcrypt With Node.js</h3>
                        <p class="mb-30">How to use Bcrypt.js to secure passwords in Node.js. Before we jump into the
                            code, I’d just like to warn you that there are actually two versions of bcrypt available on
                            NPM as of right now. Hash and encryption went from 3 seconds, to <100ms. The difference is
                                to do with the way it’s ported from c++ and additionally has no dependencies, so
                                there’s no need to worry about security from sub-dependency updates.</p> <a target="_blank"
                                href="https://know-thy-code.com/using-bcrypt-with-node-js/" class="btn btn-lg btn-color">View</a>
                                <div class="customNavigation mt-40">
                                    <a class="prev">
                                        <i class="icon arrow_left"></i>
                                    </a>
                                    <a class="next">
                                        <i class="icon arrow_right"></i>
                                    </a>
                                </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                        <img class="post-thumb" src="https://know-thy-code.com/wp-content/uploads/2018/05/best_practice_programming-780x405.jpg"
                            alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <h3 class="color-white">How important are ‘Best Practices’ Really?</h3>
                        <p class="mb-30">So people have this idea, that best practice means you write your code, space
                            it, tab it or comment it just like the best programmers in the world. All the time I hear
                            things like;

                            “You use semi colons?! Well (insert name) doesn’t use them and they’re the best in the
                            world!”.

                            Sound familiar? </p>
                        <a target="_blank" href="https://know-thy-code.com/importance-of-best-practices/" class="btn btn-lg btn-color">View</a>
                        <div class="customNavigation mt-40">
                            <a class="prev">
                                <i class="icon arrow_left"></i>
                            </a>
                            <a class="next">
                                <i class="icon arrow_right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
                        <img class="post-thumb" src="https://know-thy-code.com/wp-content/uploads/2018/05/mac_programming_nodejs-780x405.jpg"
                            alt="">
                    </div>

                    <div class="col-md-6 promo-description">
                        <h3 class="color-white">NodeJS – Insert Multiple Records Into MySQL</h3>
                        <p class="mb-30">So lets assume you have a large array of data, and you’d like to insert all of this into a database. Doing a for loop and making a new connection for every single piece of data is bad practice and very inefficient. We’re going to look at a couple of ways we can achieve this very easily and a few ways we can make the process more robust.</p>
                        <a target="_blank" href="https://know-thy-code.com/multiple-inserts-mysql/" class="btn btn-lg btn-color">View</a>
                        <div class="customNavigation mt-40">
                            <a class="prev">
                                <i class="icon arrow_left"></i>
                            </a>
                            <a class="next">
                                <i class="icon arrow_right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>