<div class="grid">
    <div class="grid-item">
        <img src="https://picsum.photos/200/300"></img>
    </div>

    <div class="grid-item">
        <img src="https://picsum.photos/200/300"></img>
    </div>

    <div class="grid-item">
        <img src="https://picsum.photos/200/300"></img>
    </div>

    <div class="grid-item">
        <img src="https://picsum.photos/200/300"></img>
    </div>

    <div class="grid-item">
        <img src="https://picsum.photos/200/300"></img>
    </div>
</div>

<script>
    window.onload = function () {
        $('.grid').packery({
            // options
            itemSelector: '.grid-item',
            gutter: 0
        });
    }
</script>