<div class="container">
    <div class="text-center">
        <h2>Nicholas Mordecai</h2>
        <h6>Wales, United Kingdom</h6>
    </div>

    <div class="block">
        <h3>Personal Statement</h3>
        <p>I am a very self-motivated, keen and enthusiastic person. I respond well to challenges, responsibility and
            obstacles. I easily to adapt to any new circumstances and thrive of learning new programming concepts and
            techniques.
        </p>
    </div>

    <div class="block">
        <h3>Employment History</h3>

        <div class="employment-item">
            <div class="title">
                <strong>Location Sciences</strong> - <i>Senior Fullstack Developer<span>February 2018 - Ongoing</span></i>
            </div>

            <p style="margin-top: 2rem;">Location Sciences is a data-driven company and who provide varying levels of
                insights. I am currently
                building a bespoke responsive dashboard with typescript, handlebars, NodeJS, express, mysql. The
                project
                also requires some impressive charts and visualisations which is taken care of with third party modules
                like
                D3.js and Chart.js. As the lead developer, I’m responsible for project management, task managing &
                resource
                delegation, liaising with the data scientists and CTO to ensure the product is fulfilling all required
                aspects.</p>
        </div>

        <div class="employment-item">
            <div class="title">
                <strong>Mrs Wordsmith</strong> - <i>Senior Fullstack Developer<span>September 2017 - Ongoing</span></i>
            </div>

            <p style="margin-top: 2rem;">As the lead frontend developer at MWS Wordsmith, my daily tasks varied
                greatly. We have development and
                production servers (AWS) with ruby on rails, at least 6 nodejs servers running all sorts of tasks. I’m
                running
                a private git-core server for our codebase, Jira & Confluence and a plethora of other techs. The
                frontend shop
                is in hosted with Shopify, though all payments are done via ChargeBee. Maintaining all the aspects is
                quite
                exciting and certainly keeps me on my toes. Alongside the ecommerce aspect, there is a machine learning
                department that I work with do build interfaces and dashboard allowing them and the teams at the head
                office to utilize the tools we create. As of late, I have been working directly with the Machine
                Learning team,
                providing a bespoke interface for their in house curriculum team to query and access data the machine
                learning team
                have
                built.
            </p>
        </div>

        <div class="employment-item">
            <div class="title">
                <strong>Glück Games</strong> - <i>Lead Frontend Games Developer<span>March 2016 - September 2017</span></i>
            </div>

            <p style="margin-top: 2rem;">As a frontend html5 games developer, I am heavily focused on performance,
                device compatibility and UI. As
                well as producing games, I am also responsible for developing all the frontend middleware for the
                company. I
                started building components that would be re-usable across all of our games. However there were clear
                flaws
                with the game engine we were using for our tech stack. So I took the initiative to start developing a
                new game
                engine from the ground up. This is now being incorporated with the centralised components to allow all
                the
                developers, both internal and external to use the game engine and library of ‘plugins’. I was also
                responsible
                for building the automation tools for production and continuous integration.
            </p>
        </div>

        <div class="employment-item">
            <div class="title">
                <strong>Microcosm Games Ltd</strong> - <i>Fullstack Games Developer<span>February 2015 - March 2016</span></i>
            </div>

            <p style="margin-top: 2rem;">Demanding a very extensive skill set, I grew very quickly with the company who
                specialized in building
                Facebook applications and games. I was responsible for managing all the technical development of the
                projects as well as designing and developing the product. During this role, I utilized my skills in
                SQL,
                JavaScript, PHP, Linux Shell, Networking and many more. In an attempt to modernize the company, I built
                NodeJS servers to benefit the applications connectivity and user experience. I also took on
                responsibility of
                managing their sister companies technical assets.
            </p>
        </div>

        <div class="employment-item">
            <div class="title">
                <strong>Epitiro Ltd</strong> - <i>Systems Engineer and Cloud Services<span>March 2014 - February 2015</span></i>
            </div>

            <p style="margin-top: 2rem;">Employed as a vital member of an operations team, my responsibilities varied
                every day from writing SQL
                queries, Perl / Bash scripts, Linux sys admin, onsite server maintenance and repairs, website frontend
                and
                backend construction, SAN and all office related administration (Active Directory, VOIP etc).
                I was also responsible for maintaining a good relationship with all our clientele, including all
                support issues,
                change requests and roadmap.

            </p>
        </div>

        <div class="employment-item">
            <div class="title">
                <strong>CGI</strong> - <i>Technical Analyst<span>May 2013 - October 2013</span></i>
            </div>

            <p style="margin-top: 2rem;">As an employee at CGI I was given a fantastic opportunity for me to further my
                professional and personal
                skills. I excelled in the technical environment given my computer background and very quickly became a
                key
                member of my team. My roles included supporting the client’s staff with any and all technical issues
                and
                problems, call logging, assigning tasks, monitoring task process and updating
                the client.

            </p>
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 2rem;
    }

    .employment-item {
        margin-top: 2rem;
    }

    .employment-item .title {
        font-size: 125%;
    }

    .employment-item .title span {
        float: right;
    }

    .block {
        margin-top: 4rem;
    }
</style>